{{!-- viewing of nutritiontable --}}
<div class="container">
    <div class="card card-body">
        <div class="container">
            <h3 class="text-danger text-center">Nutrition Tracking</h3>


            {{#if nutritionT}}
            {{!-- {{#each nutritionT}}
            <h5>Today: {{date}}</h5>
            {{/each}} --}}

            <h5>Today</h5>

            <div class="dropdown float-right">
                <button type="button" class="btn btn-light mb-4 " data-toggle="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" fill="currentColor" class="bi bi-three-dots"
                        viewBox="0 0 16 16">
                        <path
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z">
                        </path>
                    </svg>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/health/tracking/nutrition/addMeal">
                        Add Meal</a>
                    <a class="dropdown-item" href="/health/tracking/nutrition/showEditMeals">Edit Meals</a>
                </div>
            </div>
            <br>
            <table class="table">
                <thead class="table-danger">
                    <tr>
                        <th scope="col">Nutrition</th>
                        {{#each nutritionT}}
                        <th scope="col">{{meal}}</th>

                        {{/each}}

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Food</th>
                        {{#each nutritionT}}
                        <td>{{food}}</td>
                        {{/each}}

                    </tr>
                    <tr>
                        <th scope="row">Calories (cal)</th>
                        {{#each nutritionT}}
                        {{#if calories}}
                        <td>{{calories}}</td>
                        {{else}}
                        <td>-</td>
                        {{/if}}
                        {{/each}}



                    </tr>
                    <tr>
                        <th scope="row">Carbs (%)</th>
                        {{#each nutritionT}}
                        {{#if carbs}}
                        <td>{{carbs}}</td>
                        {{else}}
                        <td>-</td>
                        {{/if}}
                        {{/each}}

                    </tr>
                    <tr>
                        <th scope="row">Fat (%)</th>
                        {{#each nutritionT}}
                        {{#if fat}}
                        <td>{{fat}}</td>
                        {{else}}
                        <td>-</td>
                        {{/if}}
                        {{/each}}

                    </tr>
                    <tr>
                        <th scope="row">Protein (%)</th>
                        {{#each nutritionT}}
                        {{#if protein}}
                        <td>{{protein}}</td>
                        {{else}}
                        <td>-</td>
                        {{/if}}


                        {{/each}}

                    </tr>

                </tbody>
            </table>

            {{else}}
            <h5>Today</h5>

            <h4>No meals added yet</h4>
            <div class="dropdown float-right">
                <button type="button" class="btn btn-light mb-4 " data-toggle="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" fill="currentColor" class="bi bi-three-dots"
                        viewBox="0 0 16 16">
                        <path
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z">
                        </path>
                    </svg>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/health/tracking/nutrition/addMeal">Add Meal</a>
                </div>
            </div>
            <table class="table">
                <thead class="table-danger">
                    <tr>
                        <th scope="col">Nutrition</th>
                        <th scope="col">-</th>
                        <th scope="col">-</th>
                        <th scope="col">-</th>
                        <th scope="col">-</th>
                        <th scope="col">-</th>



                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Food</th>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>

                    </tr>
                    <tr>
                        <th scope="row">Calories (cal)</th>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>

                    </tr>
                    <tr>
                        <th scope="row">Carbs (%)</th>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>

                        <td>-</td>

                    </tr>
                    <tr>
                        <th scope="row">Fat (%)</th>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>

                    </tr>
                    <tr>
                        <th scope="row">Protein (%)</th>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>

                    </tr>
                </tbody>
            </table>
            {{/if}}
        </div>

    </div>
</div>